table {
    border-collapse: collapse;
    width: 100%;

}

 th,td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: top;


}


.one h1{
  margin-bottom: -60px;

}
.table img{
  width:40px;;
}
.row {
    margin-top: 100px;
}

.input {
    width: 30px;
    text-align: center;
    height: 44px;
    margin-left: -5px;
    margin-right: -5px;
    border-width: 1px 0 1px 0;
    border-top-color: transparent;
}
.table p{
  color: red;
  font-size: 30px;
}
